/* -------BUTTONS------- */
.buttons-container{
    margin: auto;
    text-align: center;
}

.button{
    width:  170px;
    height: 55px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 540px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    margin-right: 40px;
}

@media(max-width: 640px){
    .button{
        margin-right: 0;
        margin: 10px
    }
}

.button:focus {outline:none;}